<table>
  <tbody>
    <% if craft_beer_shop.comments.any? %>
      <% craft_beer_shop.comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to profile_path(comment.user) do %>
              <% if comment.user.image.attached? %>
                <%= image_tag comment.user.image, size: "50x50" %>
                <%= comment.user.name %>
              <% else %>
                <%= image_tag 'default_avatar.jpg', alt: "No Image" %>
                <%= comment.user.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= comment.content %></td>
          <td>
            <% if comment.user == current_user %>
              <%= link_to "削除", craft_beer_shop_comment_path(comment.craft_beer_shop_id, comment.id), method: :delete, remote: true, class: "btn btn-sm btn-danger float-end" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <a>コメントはまだありません</a>
    <% end %>
  </tbody>
</table>
