<h1>ユーザー情報 編集</h1>
<div class="form">
  <%= form_with model: @user, url: update_user_path(@user), local: true, method: "POST" do |form| %>
    <% if @user.errors.any? %>
      <strong><%= @user.errors.count %>個のエラーがあります。</strong>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="mb-3">
      <%= form.label :image, 'プロフィール画像' %>
      <%= form.file_field :image %>
    </div>

    <div class="mb-3">
      <%= form.label :name, 'ユーザーネーム' %>
      <%= form.text_field :name %>
    </div>

    <div class="mb-3">
      <%= form.label :email, 'メールアドレス' %>
      <%= form.email_field :email %>
    </div>

    <div class="mb-3">
      <%= form.label :password, 'パスワード' %>
      <%= form.password_field :password %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, 'パスワード(確認)' %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="mb-3">
      <%= form.submit '更新', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
