<div class="contents">
  <section class="first-section">
    <div class ="user-info">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, size: '70x90' %>
      <% else %>
        <%= image_tag 'default_avatar.jpg', alt: "No Image", size: '70x90' %>
      <% end %>
      <a>  ユーザーネーム：<%= @user.name %></a>
      <% if current_user.email != "guest@exapmle.com" %>
        <p>メールアドレス：<%= @user.email %></p>
      <% end %>
    </div>
    <div class ="buttons">
      <% if current_user.email != "guest@exapmle.com" %>
        <%= link_to 'プロフィール編集', edit_user_path(@user), class: "btn btn-light btn-outline-secondary" %>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-light btn-outline-secondary", data: { confirm: 'ログアウトしますか？' } %>
        <%= link_to '退会', unsubscribe_path(@user), method: :delete, class: "btn btn-light btn-outline-secondary", data: { confirm: '本当に退会しますか？' } %>
      <% end %>
    <div>
  </section>
  <div class="my-posts">
    <div class="info">
      <p><strong><%= current_user.name %></strong>さんの投稿一覧
        <%= link_to "新規投稿する", new_craft_beer_shop_path, class: 'btn btn-primary' %>
      </p>
    </div>
    <div class="table-responsive">
      <table class ="table table-light table-striped">
        <thead>
          <tr>
            <th scope="col">写真</th>
            <th scope="col">店名</th>
            <th scope="col">住所</th>
            <th scope="col" class="d-none d-md-block">ポイント</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
          </tr>
        </thead>
        <tbody>
          <% if @craft_beer_shops.any? %>
            <% @craft_beer_shops.each do |craft_beer_shop| %>
              <tr>
                <% if craft_beer_shop.images.attached? %>
                  <td><%= image_tag craft_beer_shop.images.first.variant(resize: "60x50") %></td>
                <% else %>
                  <td><%= image_tag "no_image.jpg", :size => '60x50', alt: "No Image" %></td>
                <% end %>
                <td><%= link_to craft_beer_shop.name.truncate(20), craft_beer_shop %></td>
                <td><%= craft_beer_shop.address.truncate(10) %></td>
                <td class="d-none d-md-block"><%= craft_beer_shop.description.truncate(10) %></td>
                <td><%= link_to "編集", edit_craft_beer_shop_path(craft_beer_shop), class: "btn btn-sm btn-success" if craft_beer_shop.user_id == current_user.id %></td>
                <td><%= link_to "削除", craft_beer_shop, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" if craft_beer_shop.user_id == current_user.id %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="8">投稿がありません。</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @craft_beer_shops %>
  </div>
</div>
