<div class="first-view">
  <div class="container">
    <h1 class="head-title">Find Craft Beer</h1>
    <h3>あなたがオススメするクラフトビールスポットを紹介しよう♪<br><br>
      クラフトビールを愛するユーザー同士がおすすめのお店を共有できます。<br><br>
      きっと、今夜カンパイするお店が見つかります。
    </h3>
  </div>

  <% unless current_user %>
    <section class="wrapper">
      <div class="starter">
        <%= link_to(login_path) do %>
          <%= image_tag('beer-icon1.png', size: '70x70') %>
          <p class="link-text">ログイン</p>
        <% end %>
      </div>

      <div class="starter">
        <%= link_to(signup_path) do %>
          <%= image_tag('beer-icon2.png', size: '70x70') %>
          <p class="link-text">新規登録</p>
        <% end %>
      </div>

      <div class="starter">
        <%= link_to(guest_login_path, method: :post) do %>
          <%= image_tag('beer-icon3.png', size: '70x70') %>
          <p class="link-text">ゲスト</p>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
