
<h1>投稿編集</h1>
<%= flash[:notice] %>

<div class = "form">
  <%= form_with model: @craft_beer_shop,local: true do |form| %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div>
      <%= form.submit "投稿を更新する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<%= link_to "みんなの投稿一覧へ戻る", craft_beer_shops_path %>
