<h1>сЂ┐сѓЊсЂфсЂ«­ЪЇ║ТіЋуе┐СИђУдД</h1>

<%= flash[:notice] %>

<div class = "sub-infomation">
  <p>уЈЙтюесЂ«сЃдсЃ╝сѓХсЃ╝№╝џ<%= current_user.name %></p>
  <p><%= link_to "Тќ░УдЈТіЋуе┐сЂЎсѓІ", new_craft_beer_shop_path, class: 'btn btn-primary' %></p>
</div>

<div class = "container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ТіЋуе┐ID</th>
        <th scope="col">тєЎуюЪ</th>
        <th scope="col">сѓ»сЃЕсЃЋсЃѕсЃЊсЃ╝сЃФ т║ЌтљЇ</th>
        <th scope="col">СйЈТЅђ</th>
        <th scope="col">сЂісЂЎсЂЎсѓЂсЃЮсѓцсЃ│сЃѕ</th>
        <th scope="col">ТіЋуе┐ТЌЦ</th>
        <th scope="col">уиежЏє</th>
        <th scope="col">тЅіжЎц</th>
      </tr>
    </thead>
    <tbody>
    <% @craft_beer_shops.each do |craft_beer_shop| %>
      <tr>
        <th scope="row"><%= craft_beer_shop.id %></th>
        <% if craft_beer_shop.image.attached? %>
          <% image = craft_beer_shop.image %>
          <td><%= image_tag image, :size => '70x60' %></td>
        <% else %>
          <td><%= image_tag "no_image.jpg", :size => '70x60', alt: "No Image" %></td>
        <% end %>
        <td><%= craft_beer_shop.name %></td>
        <td><%= craft_beer_shop.address %></td>
        <td><%= craft_beer_shop.description %></td>
        <td><%= l craft_beer_shop.created_at %></td>
        <% if craft_beer_shop.user_id == @current_user.id %>
          <td><%= link_to "уиежЏє", edit_craft_beer_shop_path(craft_beer_shop.id) %></td>
          <td><%= link_to "тЅіжЎц", craft_beer_shop, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "ТюгтйЊсЂФтЅіжЎцсЂЌсЂЙсЂЎсЂІ№╝Ъ" } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
