<h1>投稿詳細</h1>

<script type="text/javascript">
  function initMap() {
    var test = {lat: <%= @craft_beer_shop.latitude %>, lng: <%= @craft_beer_shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @craft_beer_shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" type="text/javascript"></script>

<style type="text/css">
  #map { height: 200px;
        width: 70%;
        margin: 0 auto;}
</style>
<div id="map"></div>

<div class="container">
  <% if @craft_beer_shop.images.attached? %>
    <div class="row">
      <% @craft_beer_shop.images.each do |image| %>
        <div class="col-md-3">
          <%= image_tag image, class: 'img-fluid' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th scope="col">クラフトビール 店名 </th>
      <td><%= @craft_beer_shop.name %></td>
    </tr>

    <tr>
      <th scope="col">住所</th>
      <td><%= @craft_beer_shop.address %></td>
    </tr>

    <tr>
      <th scope="col">おすすめポイント</th>
        <td><%= @craft_beer_shop.description %></td>
    </tr>

    <tr>
      <th scope="col">投稿日</th>
      <td><%= l @craft_beer_shop.created_at %></td>
    </tr>

    <tr>
      <th scope="col">いいね</th>
      <td id="favorite_<%= @craft_beer_shop.id %>"><!--idにして特定してJSを処理-->
        <%= render 'favorites/favorite', craft_beer_shop: @craft_beer_shop %>
      </td>
    </tr>

    <tr>
      <th scope="col">コメント一覧</th>
      <td id="comments_area"><!--idにして特定してJSを処理-->
        <%= render 'comments/index', comments: @comments, craft_beer_shop: @craft_beer_shop %>
      </td>
      <% if @craft_beer_shop.user_id == current_user.id %>
        <td class = "comment-create">レビューを投稿
          <%= render 'comments/form', comment: @comment, craft_beer_shop: @craft_beer_shop %>
        </td>
      <% end %>
    </tr>





  </table>

  <% if @craft_beer_shop.user_id == current_user.id %>
      <a><%= link_to "編集", edit_craft_beer_shop_path(@craft_beer_shop.id), class: "btn btn-sm btn-success" %></a>
      <a><%= link_to "削除", @craft_beer_shop, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></a>
  <% end %>
</div>
