<h1>投稿詳細</h1>

<script type="text/javascript">
  function initMap() {
    var test = {lat: <%= @craft_beer_shop.latitude %>, lng: <%= @craft_beer_shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @craft_beer_shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" type="text/javascript"></script>

<style type="text/css">
  #map { height: 200px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;}
</style>
<div id="map"></div>

  <table class="table table-light table-striped">
    <tr>
      <th scope="col">クラフトビール 店名 </th>
      <td><%= @craft_beer_shop.name %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="col">住所</th>
      <td><%= @craft_beer_shop.address %></td>
      <td></td>
    </tr>

    <tr>
      <th scope="col">おすすめポイント</th>
        <td><%= @craft_beer_shop.description %></td>
        <td></td>
    </tr>


  <% if @craft_beer_shop.images.attached? %>
    <tr>
      <th scope="col">写真</th>
      <% @craft_beer_shop.images.each_slice(2) do |image1, image2| %>
        <td>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag image1, class: 'img-fluid' if image1 %>
            </div>
            <div class="col-md-6">
              <%= image_tag image2, class: 'img-fluid' if image2 %>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>

    <tr>
      <th scope="col">いいね</th>
      <td id="favorite_<%= @craft_beer_shop.id %>"><!--idにして特定してJSを処理-->
        <%= render 'favorites/favorite', craft_beer_shop: @craft_beer_shop %>
      </td>
      <td></td>
    </tr>

    <tr>
      <th scope="col">コメント一覧</th>
      <td id="comments_area"><!--idにして特定してJSを処理-->
        <%= render 'comments/index', comments: @comments, craft_beer_shop: @craft_beer_shop %>
      </td>
      <% if @craft_beer_shop.user_id != current_user.id %>
        <td class = "comment-create">レビューを投稿
          <%= render 'comments/form', comment: @comment, craft_beer_shop: @craft_beer_shop %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th scope="col">投稿日</th>
      <td><%= l @craft_beer_shop.created_at %></td>
      <td></td>
    </tr>

    <tr>
      <% if @craft_beer_shop.user_id == current_user.id %>
        <td><%= link_to "編集", edit_craft_beer_shop_path(@craft_beer_shop.id), class: "btn btn-sm btn-success" %></td>
        <td><%= link_to "削除", @craft_beer_shop, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %></td>
      <% end %>
    </tr>
  </table>
</div>
