<!DOCTYPE html>
<html>
  <head>
    <title>find-craft-beer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- もし既にサインインしている場合-->
          <% if current_user %>
          <li class="nav-item active">
            <a class="nav-link" href="/craft_beer_shops">INDEX<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= current_user.id %>">MY PAGE</a>
          </li>
          <li class="nav-item">
            <%= link_to "LOGOUT", logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'nav-link' %>
          </li>
          <!-- まだサインインしていない場合-->
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">SIGN UP</a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div id="content">
      <section class="background-image">
        <div id="flash-message">
          <%= render 'layouts/flash' %>
        </div>
        <%= yield %>
      </section>
    </div>

    <footer>
      <p class="copyright">
        © 2023 Rina Kawahara. All rights reserved. |
        Icons by <a href="http://flat-icon-design.com/" target="_blank">Flat Icon Design</a> |
        Free images by <a href="https://stock.adobe.com/jp/" target="_blank">Adobe Stock</a>
      </p>
    </footer>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
</html>
